<div class="row home-info">
  <div class="large-6 columns">
    <h3 class="home-info-header">Build A New Habit</h3>
    <p><%= ("Trying to develop a new habit? Need a little motivation? Let the Habit Rabbit hop to the rescue.") %></p>
    <p><%= ("At Habit Rabbit, we'll keep track of your habit streaks. Go to the gym every day? Head to sleep at night without having read that book? We'll help you change that.") %></p>
  </div>
  <div class="large-6 columns">
    <h3 class="home-info-header">Strengthen Existing Habits</h3>
    <p><%= ("Everyone can start a new habit, but it takes a certain kind of motivation to maintain your existing ones.") %></p>
    <p><%= ("By tracking the progress of your habit streaks, Habit Rabbit hopes to strengthen your motivation and productivity, and develop a whole new you.") %></p>
  </div>
</div>
