<div class="main_header">

  <h2>Habit Rabbit</h2>

  <% if current_user.nil? %>
    <a href="/auth/twitter" class="button tiny">Log in with Twitter</a>
    <a href="#" class="button tiny">Log in with GitHub (coming soon)</a>
  <% else %>
    <%= link_to "Log Out", signout_path %>
  <% end %>
</div>
