<div class="main_header">

  <p>Habit Rabbit</p>

  <% if current_user.nil? %>
    <%= link_to "Log in with Twitter", "/auth/twitter" %>
  <% else %>
    <%= link_to "Log Out", signout_path %>
  <% end %>
</div>
