h1,
h2,
h3,
h4, 
h5, 
h6 {
  color: #353b79 !important;
}
.title-group {
  position:relative;
}

.home-logo {
  width: 200px;
  padding-bottom: 5%; 
}
.options {
  //color: #daa96f !important;
  //background-color: #353b79;
  display: block;
}
.options-logo {
  width: 100px;
  position: absolute;
  top: 0;
  left: 50px;
  display: inline-block;
}
.title-group > h1 {
  display:inline-block;
  color: #353b79;
}

.homepage {
  min-width: 140px;
  width: 15%;
  min-height: 30px;
  height: 100%;
  background-color: #353b79 !important;
}
.left-radius,
a.left-radius {
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
  background-color: #353b79 !important;
}

.right-radius,
a.right-radius {
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  background-color: #353b79 !important;
}
.tan {
  color: #353b79 !important;
  background-color: #daa96f !important;
}
.ajax_flash_messages {
  position: fixed;
  width: 100%;
}

#button {
  text-align: center;
}

#create-habit-form {
  text-align: center;
}

.flash#error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.flash#alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.flash#notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

#habit-welcome {
  margin-top: 45px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#habit-header {
  margin: 5px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#habit-edit {
  margin: 5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}


#submit-tag {
  text-align: center;
}

#user-welcome {
  margin-top: 45px;
  text-align: center;
  padding-bottom: 10px;
}

//masonry

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.grid-sizer { width: 20%; }

@media screen and (min-width: 720px) {
  .grid-sizer { width: 10%; }
}

.habit-list {
  background: #FFF;
  padding-top: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.habit-wrapper {
  text-align:center;
  position:relative;

}

.inpre, .inpos{
  background-color:#fff;
  height:125px;
  width:20px;
  border-bottom:2px solid black;
  border-top:2px solid black;
  float:left;

}
.inpre{
  border-left:2px solid black;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
}
.inpos{
  border-right:2px solid black;
  clear:right;
}
.habit_content{
  font-family:"Arial",sans-serif;
  padding:5px;
  background-color:#fff;
  float:left;
}

// end masonry
