.ajax_flash_messages {
  position: fixed;
  width: 100%;
}

.flash#error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.flash#alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.flash#notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

#habit-welcome {
  margin-top: 45px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#habit-header {
  margin: 5px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#habit-edit {
  margin: 5px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

#habit-button {
  text-align: center;
}

#back-button {
  text-align: center;
}

#submit-tag {
  text-align: center;
}

#user-welcome {
  margin-top: 45px;
  text-align: center;
  padding-bottom: 10px;
}

//masonry

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.grid-sizer { width: 20%; }

@media screen and (min-width: 720px) {
  .grid-sizer { width: 10%; }
}

.habit-list {
  background: #FFF;
  padding-top: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.habit-wrapper {
  text-align:center;
  position:relative;

}

.inpre, .inpos{
  background-color:#fff;
  height:125px;
  width:20px;
  border-bottom:2px solid black;
  border-top:2px solid black;
  float:left;

}
.inpre{
  border-left:2px solid black;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
}
.inpos{
  border-right:2px solid black;
  clear:right;
}
.habit_content{
  font-family:"Arial",sans-serif;
  padding:5px;
  background-color:#fff;
  float:left;
}

// end masonry
